
<span>{{ title }} app is running!</span>



<router-outlet></router-outlet>


<!-- [valorInicial] -> Property binding -->
<app-ciclo [valorInicial] = "valor" *ngIf = "!deletarCiclo"></app-ciclo>
<!-- (click) = "mudarValor()" -> Event binding para escutar o evento de click -->
<button (click) = "mudarValor()" >Mudar Valor</button>
<button (click) = "destruirCiclo()" >Deletar</button>
<div>

  <button style="padding: 20px; color: white; background-color: green;" routerLink="a">Load Module A</button>
  <button style="padding: 20px; color: white; background-color: blue;" routerLink="b">Load Module B</button>
  <router-outlet></router-outlet>

</div>

